@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 2%;
    font-weight: 900;
    text-transform: uppercase;
}
hr{
    margin-bottom: 2%;
}

.row{
    margin: 5% 0;
}
footer{
    text-align: center;
    border-top: 1px solid #fff;
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
a{
    text-decoration: none;
}
.navbar-brand{
    font-weight: 700;
}